@charset "UTF-8";
.bo_notice{padding:4px 10px;font-size:0.750em;color:#fff;border-radius:16px;background:#51555d;vertical-align:middle;}
.bo_new{color:#d13d31;font-weight:bold;font-size:11px;vertical-align:middle;margin:0 4px;}

/* 페이징 */
.pagination{text-align:center;margin:50px 0 24px;}
.pagination ul{display:flex;justify-content: center;}
.pagination ul li{display:flex;text-align:center;margin:0 2px;}
.pagination ul li a{display:block;width:40px;height:40px; border-radius:3px;background:#F2F4F6;line-height:40px;}
.pagination ul li a.active{border:1px solid #3d3d3d;font-weight:500}
.pagination ul li a.ico{border:1px solid #ddd;font-size:0;margin-left:-4px;}
.pagination ul li a:not(.active):hover{background-color:#f7f7f7;}
.pagination ul li a.prev{background:url('../img/arrow_board_prev.png') no-repeat center center #fff;margin-right:10px}
.pagination ul li a.next{background:url('../img/arrow_board_next.png') no-repeat center center #fff;margin-left:10px}
.pagination ul li a.first{background:url('../img/arrow_board_first.png') no-repeat center center #fff;}
.pagination ul li a.last{background:url('../img/arrow_board_last.png') no-repeat center center #fff;}


/* 리스트 페이지 */
.board_list, .board_view, .bo_write_wrap, .bogal_wrap{margin-bottom:100px}
.board_search{position:relative;background:#fafafa;padding:30px;margin-bottom:40px;}
.board_search .total{display:inline-block;height:46px;line-height:46px;}
.board_search .search_form .search_input_wrap, .board_search .search_form{display:inline-block;position:relative;}
.board_search #searchQuery{width:300px}
.board_search select,.board_search input{border:1px solid #ddd;border-radius:10px;}
.board_search input{position:relative;padding-right:46px;}
.board_search .btn_search{position:absolute;top:0;right:0;background:url('../img/ico_search.png') no-repeat center center #333;height:46px;width:46px;line-height:46px;font-size:0;border:0;}


/* 일반 게시판 */
.bo_table{border-top:1px solid #000;margin:14px 0;text-align:center}
.bo_table thead th{padding:16px 10px;border:solid #e3e3e3;border-width:1px 0;text-align:center;border-top:1px solid #000;font-weight:700;}
.bo_table tbody td,.bo_table tbody th{padding:24px 12px;border:solid #e3e3e3;border-width:1px 0;}
.bo_table tbody tr:hover{background:#fafafa;}
.bo_table td{width:10%;color:#666}
.bo_table .subject{text-align:left;width:45%;}
.bo_table .notice_tr .subject{color:#222;font-weight:500;}

/* 쓰기페이지 */
.tb_wrap{margin-top:8px;line-height:1.5rem;}
.tb_wrap .notice{display:none}
.basic_tb:before{content:'';position:absolute;top:0;left:0;width:100%;height:1px;background:#6B7684;}
.basic_tb {position:relative;border-top:1px solid #6B7684;margin:0px 0 14px;font-size:0.938rem;}
.basic_tb  thead th{padding:12px;border-top:2px solid #333;border:1px solid #e1e1e1;text-align:center;font-weight:600;background:#F3F5F8;}
.basic_tb  tbody th{background:#FCFDFF;text-align:center;font-weight:600;}
.basic_tb  tbody td,.basic_tb  tbody th{padding:12px;border:1px solid #e1e1e1;}
.basic_tb td:first-child,.basic_tb th:first-child{border-left:0 !important;}
.basic_tb td:last-child,.basic_tb th:last-child{border-right:0 !important;}

.bo_w_table table{margin-bottom:20px;border-top:2px solid #000}
.bo_w_table table th{width:15%}
.bo_w_table table td{width:85%}
.bo_w_table .centent_td{min-height:300px}
span.required{position:relative;font-size:0;width:14px;height:14px;line-height:16px;}
span.required:before{content:'＊';position:absolute;top:-6px;left:0;width:14px;height:14px;display:block;color:#e91313;font-size:13px;font-weight:bold}
.write_textarea{width:100%;min-height:300px;}
.bo_w_table input[type='radio']{vertical-align: middle;}
.bo_write .file_box{padding:12px 8px; border-radius:8px;background:#f4f7f8;margin-bottom:8px;}

/* 뷰페이지 */
.board_view_head {padding: 36px 0 20px;border-top: 3px solid #000;border-bottom: 1px solid #ddd;}
.board_view_head h3 {font-size: 1.875em;font-weight: 700;text-align: center;}
.board_view_head .board_view_info {justify-content: center;margin-top: 30px;}
.board_view_head .board_view_info li {font-size: 0.875rem;margin-right: 20px;position: relative;}
.board_view_head .board_view_info li::after {content: '';display: block;width: 2px;height: 10px;background: #bbbbbb;transform: rotate(30deg);position: absolute;top: 2px; right: -11px;}
.board_view_head .board_view_info li:last-child {margin-right: 0;}
.board_view_head .board_view_info li:last-child::after {display: none;}
.board_view_body {padding: 40px 20px;border-bottom: 1px solid #ddd;min-height: 300px;}
.add_file{padding:20px 0 30px;border-bottom:1px solid #000;}
.add_file .file_list{margin-top:10px;min-height:44px;background:#f9f9f9;}
.add_file .file_list a{position:relative;display:block;min-height:44px;padding:16px 30px 16px 56px;margin-top:-1px;background:#f9f9f9;font-size:14px;color:#EA5F57;border:1px solid #eee;font-weight: 500;}
.add_file .file_list a:before{content:"";position:absolute;left:20px;top:10px;display:inline-block;;width:28px;height:28px;background:url('../img/bo_file.png') no-repeat center center;}
.add_file .file_list span{display:block;min-height:44px;padding:16px 30px 16px 16px;margin-top:-1px;background:#f9f9f9;font-size:14px;color:#777;border:1px solid #eee}

.bo_nav_list{margin-bottom:40px;border: solid #eee;border-width:1px 0;}
.bo_nav_list li a{display:block;}
.bo_nav_list li a > div{display:flex;padding:16px; align-items:center;justify-content: space-between;}
.bo_nav_list li + li{border-top:1px solid #eee;}
.bo_nav_list li .title{flex: 1;}
.bo_nav_list li a:hover .title{font-weight:700;}
.bo_nav_list li .date{color:#777;font-size:.875rem;}
.bo_nav_list li .ico{padding-left:24px;margin-right:40px;font-weight:700;}
.bo_nav_list li .bo_item_prev .ico{background:url('../img/bo_arrow_prev.png') no-repeat 0 center;}
.bo_nav_list li .bo_item_next .ico{background:url('../img/bo_arrow_next.png') no-repeat 0 center;}
.bo_nav_list li:hover{background:#fafafa;}

/* 갤러리 리스트*/
.bogal_list > ul {display: flex;margin: 0 -16px;flex-wrap: wrap;}
.bogal_list > ul > li {width: calc((100% - 128px) / 4);margin: 16px;border: 1px solid #ddd;border-radius: 8px;overflow: hidden;box-shadow: 4px 4px 24px 5px rgb(0,0,0,0.05);transition: all 0.5s ease;}
.bogal_list > ul > li:hover {border: 1px solid #333;box-shadow: 4px 4px 24px 5px rgb(0,0,0,0.1);}
.bogal_list > ul > li:hover .img_box .in_box img {transform: scale(1.2);}
.bogal_list > ul > li:hover .text_box .title {color: #c73533;}
.bogal_list > ul > li a {display: block;}
/* .bogal_list > ul > li .img_box {padding: 10px;} */
.bogal_list > ul > li .img_box .in_box {width: 100%; height:250px;overflow:hidden;position: relative;border-radius: 8px;background: #fafafa;}
.bogal_list > ul > li .img_box .in_box .tag {position: absolute;top: 10px;left: 10px;padding:7px 15px;border-radius: 20px;font-weight: 500; color: #fff;font-size: 0.813rem;}
.bogal_list > ul > li .img_box .in_box .tag.tag1 {background: #ff6888;}
.bogal_list > ul > li .img_box .in_box .tag.tag2 {background: #b964f7;}
.bogal_list > ul > li .text_box {padding: 24px 16px;}
.bogal_list > ul > li .text_box .title {font-size: 1.125rem;font-weight:700;width: 100%;min-height: 45px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;transition: all 0.5s ease;}
.bogal_list > ul > li .text_box ul {margin-top: 20px;display: flex;justify-content: space-between;align-items: center;padding-top: 20px;border-top: 1px dashed #ddd;}
.bogal_list > ul > li .text_box ul li {display: flex;}
.bogal_list > ul > li .text_box ul li > * {font-size: 0.875rem;}
.bogal_list > ul > li .text_box ul li .tit {font-weight: 500;margin-right: 7px;}
.bogal_list > ul > li .text_box ul li .con {color: #858585;}

/* 갤러리 뷰*/
.board_view_head .tag {text-align: center;margin-bottom: 10px;}
.board_view_head .tag span {padding: 5px 10px;color: #fff;font-size: 0.875rem;border-radius: 20px;}
.board_view_head .tag span.tag1 {background: #ff6888;}
.board_view_head .tag span.tag {background: #b964f7;}
.view_con .sd_wrap .slick-controls{position:relative;margin-top:-28px;text-align:center;}
.view_con .sd_wrap .slick-nav {display:inline-block;position:relative;border:1px solid #ddd;border-radius:40px;padding:8px 20px;background:#fff;}
.view_con .sd_wrap .counter{display:inline-block;line-height: 32px;}
.view_con .sd_wrap .counter .current{color:#c73533;font-weight:700;}

.view_con .sd_wrap .slick-nav a{width:32px;height:32px;border-radius:50%;background-color:#fff;vertical-align: middle;background:url('../img/sd_ir.png') no-repeat;}
.view_con .sd_wrap .slick-nav a.slick-prev{background-position: 12px -4px;}
.view_con .sd_wrap .slick-nav a.slick-next{background-position: -34px -4px;}
.view_con .sd_wrap .slick-nav a.slick-stop{background-position: -81px -4px;}
.view_con .sd_wrap .slick-nav a.slick-play{background-position: -129px -4px;display: none;}

.view_con .sd_wrap{padding:60px 0 40px;background:#fafafa;}
.view_con .sd_wrap .view_sd {width:680px;margin:0 auto;border:6px solid #eee;border-radius:8px;background:#fff;box-shadow: 4px 4px 24px 5px rgb(0,0,0,0.02);}
.view_con .sd_wrap .item img{height:100%;border-radius:8px;display:inline-block;}
.view_con .sd_wrap {margin-bottom:30px;}

/* 온라인강의 쓰기*/
.bo_write .bg_help {margin-top: 7px;padding: 10px;background: #fafafa;}
.bo_write .bg_help .lgreen {margin-bottom:5px;padding-left: 25px;position: relative;}
.bo_write .bg_help .lgreen .bg_lred {width: 20px;height: 20px;border-radius: 50%;text-align: center;font-size: 0.75rem;line-height: 20px;position: absolute;top: 0;left: 0;}

/* 온라인강의 뷰*/
.board_view_body .video_box {padding: 60px;}
.video_box > * {max-width: 1080px;margin: 0 auto;}
.board_view_body .view_video {max-width: 1080px;margin: 0 auto;}
.board_view_body .view_video video {width: 100%;height: auto;}
.board_view_body .view_video iframe {width: 100%;min-height: 608px;}

/* 자주묻는질문 */
.dd_type {margin-bottom: 20px;}
.dd_type .bo_list_box .bo_tit a {width: 100%;padding: 20px 25px;border: 1px solid #ddd;position: relative;transition: all 1s ease;border-bottom: 0;}
.dd_type .bo_list_box:last-child .bo_tit a {border-bottom: 1px solid #ddd;}
.dd_type .bo_list_box .bo_tit .tit > span {font-size: 1.125rem;}
.dd_type .bo_list_box .bo_tit .cap_q {font-weight: 600;margin-right: 5px;}
.dd_type .bo_list_box .arrow {width: 15px;height: 9px;position: absolute;right: 25px;background: url(../img/dd_list_arrow.png) no-repeat 0 0;top: 25px;}
.dd_type .bo_list_box .bo_cont {border: 1px solid #c73533;padding: 25px 25px 25px 45px;border-top: 0;display: none;}
.dd_type .bo_list_box .bo_cont .in_box {position: relative;}
.dd_type .bo_list_box .bo_cont .in_box::after {content: 'A';display: block;position: absolute;top: 0;left: -18px;font-weight: 600;}
.dd_type .bo_list_box .bo_tit.active a {border: 1px solid #c73533;color: #c73533;background: #fcf1f0;}
.dd_type .bo_list_box .bo_tit.active .arrow {background-position: 0 -9px;}

/* 강의, 행사 신청 리스트 */
.bogal_list .pg_list .tag_box {position: absolute;top: 10px;left: 10px;}
.bogal_list .pg_list .tag_box > div {padding:7px 15px;border-radius: 20px;font-weight: 500;font-size: 0.813rem;}
.bogal_list .pg_list .tag_box .lable {color: #255dfa;border: 1px solid #255dfa;background: #dee7ff;margin-right: 5px;}
.bogal_list .pg_list .text_box ul {border-top: none;padding-top: 0;}
.bogal_list .pg_list .text_box ul > li {padding-left: 12px;position: relative;}
.bogal_list .pg_list .text_box ul > li:after {content: '';position: absolute;left: 0;top: 6px;width: 4px;height: 4px;background: #999;border-radius: 50%;}
.bogal_list .pg_list .text_box ul > li .con {color: #121212;}
.bogal_list .pg_list .btn_box{padding:16px;background:#F2F4F6;}
.bogal_list .pg_list .btn{width:calc((100% - 9px) / 2);display: inline-flex;}
.bogal_list .pg_list .btn_box .btn_app{background:#E2E6E8;border:1px solid #ddd;}
.bogal_list .pg_list .btn_box .btn_more{border:1px solid #ddd;background:#fff;}
.bo_view_wp a:hover, .btn_box a:hover {box-shadow: 4px 4px 8px 2px rgb(0,0,0,0.05);}

/* 강의, 행사 신청 뷰 */
.pg_view .pg_t_con {border: 1px solid #ddd;border-radius: 20px;padding: 40px;}
.pg_view .pg_t_con .box_l {width: 30%;padding: 20px;}
.pg_view .pg_t_con .box_r {width: 70%;padding: 20px;}

/* 통합검색 */
.integrate_sh .dp_flex {justify-content: center;}
.integrate_sh select {min-width: 140px;margin-right: 10px;}
.integrate_sh .dp_flex .search_input_wrap {position: relative;}
#sch_res_board a{display: block;line-height: 28px;padding: 5px 15px;border-radius: 30px;border: 1px solid #c73533;color: #c73533;}
#sch_res_board .sch_on {z-index: 2;background: #c73533;color: #fff;font-weight: bold;border: 1px solid #c73533;}


#sch_res_ov {text-align:center;zoom:1;height:55px;line-height:55px;background:#edf3fc;border-radius:5px;border:1px solid #d6e2f4;margin-bottom:15px;padding:0 20px}
#sch_res_ov:after {display:block;visibility:hidden;clear:both;content:""}
#sch_res_ov h2 {float:left;display:inline-block;font-size:1.25em;color:#293d58;font-weight:normal}
#sch_res_ov h2 strong {color:#ff005a}
#sch_res_ov ul {display:inline-block;float:right;line-height:12px;font-size:0.92em;color:#5977a4;margin-top:20px}
#sch_res_ov ul:after {display:block;visibility:hidden;clear:both;content:""}
#sch_res_ov li {float:left;margin-right:5px;padding-right:5px;border-right:1px solid #5977a4}
#sch_res_ov li:last-child {margin:0;padding:0;border:0}

#sch_res_board {margin:28px 0;}
#sch_res_board h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sch_res_board ul {zoom:1}
#sch_res_board ul:after {display:block;visibility:hidden;clear:both;content:""}
#sch_res_board li {display:inline-block;padding:2px}
#sch_res_board a:focus, #sch_res_board a:hover {text-decoration:none;background:#c73533;color:#fff}
#sch_res_board .cnt_cmt {font-weight:normal !important;display:inline-block;margin-left:3px;color:#c73533;line-height:18px;font-size:0.92em}
#sch_res_board a:hover .cnt_cmt {color:#fff}


.sch_res_list {position:relative;margin-bottom:10px}
.sch_res_list .search_board_result{position:relative;border-bottom:1px solid #000;margin-bottom: 40px;}
.sch_res_list h2 {font-size:1.2em;padding: 15px 0 15px 30px;}
.sch_res_list ul {margin:0 0 20px 0;padding:0;list-style:none;border-top:1px solid #ececec}
.sch_res_list li {border-bottom:1px solid #ececec;background:#fff;position:relative}
.sch_res_list li:last-child {border-bottom:none;}
.sch_res_list .sch_tit {display:block;padding:20px 0 10px}
.sch_res_list .pop_a {display:inline-block;background:rgba(231, 109, 76, 0.2);color:#6f777f;border-radius:50%;text-align:center;width:26px;height:26px;line-height:26px}
.sch_res_title {display:inline-block;margin:0 0 5px;}
.sch_res_list p {padding-bottom:10px;color:#666;font-size:0.875rem;width: 95%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;}
.sch_res_list .sch_info {padding:10px 0;color:#777}
.sch_res_list .sch_info:after {display:block;visibility:hidden;clear:both;content:""}
.sch_res_list .profile_img img {border-radius:50%}
.sch_res_list .sch_datetime {font-size: 0.75rem;}
.sch_more {position:absolute;right:0;top:5px;text-align:right;font-weight:normal;color:#3a8afd}
