@charset "UTF-8";

/* 서브 턴텐츠 기본 스타일 */
.hr_b{padding-bottom:32px;margin-bottom:32px;border-bottom:1px dashed #ddd}
.hr_t{padding-top:32px;margin-top:32px;border-top:1px dashed #ddd}
#subcontent h3, #subcontent h4, #subcontent h5, #subcontent h6 {font-weight:700;color:#242424;}
.bk1{color:#121212;}
.bk2{color:#363636;}
.bk3{color:#545454;}
.bk4{color:#767676;}

.sub_content {padding: 60px 0;min-height: 500px;color: #363636;}
.sub_content .heading_5,
.sub_content .heading_6{padding-bottom:24px;}
.sub_content .subtitle_1{padding-bottom:12px;}
.sub_content .subtitle_2 {padding-bottom:8px;}
.sub_content .sec + .sec{margin-top:80px;}
.sub_content .p_wp > p + p{padding-top:24px;}
.sub_content .top_gray_wp{padding:60px;background:#fafafa;border-radius:8px;overflow:hidden;}
.sub_content .box_gray{padding:32px;background:#fafafa;border-radius:8px;overflow:hidden;}

/* 리스트 */
.ul_list {text-align:left;line-height:1.5rem;}
.ul_list > li{position:relative;padding-left:12px;margin:10px 4px;}
.ul_list > li:first-child{margin-top:0;}
.ul_list > li:after{content:'';position:absolute;left:0;top:10px;width:4px;height:4px;background:#999;border-radius:50%}
.ul_list > li .tit{font-weight:600;margin-right:8px;}
.ul_list.list_st2 > li:after{background:#2254e0}
.ul_list.list_st3 > li:after{background:#121212}

.ul_list2 {text-align:left;line-height:1.5rem;font-size:0.875rem;}
.ul_list2 > li{position:relative;padding-left:10px;margin:4px 4px;}
.ul_list2 > li:first-child{margin-top:0;}
.ul_list2 > li:after{content:'';position:absolute;left:0;top:11px;width:3px;height:3px;background:#bbb;border-radius:50%}
.ul_list2 > li .tit{font-weight:600;margin-right:8px;}
.ul_list2.list2_st2 > li:after{border-radius:0;height:1px;width:6px;}

/* 테이블 */
.table_wrap{margin-top:8px;line-height:1.5rem;}
.table_wrap .notice{display:none}
.basic_tb {border-top:2px solid #000;margin:0px 0 14px;font-size:0.938rem;}
.basic_tb  thead th{padding:12px;border-top:2px solid #333;border:1px solid #e1e1e1;text-align:center;font-weight:600;background:#efeff1;}
.basic_tb  tbody th{background:#f6f6f7;font-weight:500;text-align:center;font-weight:600;}
.basic_tb  tbody td,.basic_tb  tbody th{padding:12px;border:1px solid #e1e1e1;}
.basic_tb td:first-child,.basic_tb th:first-child{border-left:0 !important;}
.basic_tb td:last-child,.basic_tb th:last-child{border-right:0 !important;}

.basic_tb2 {margin:0px 0 14px;font-size:0.938rem;}
.basic_tb2  thead th{padding:8px;border-top:2px solid #333;border:1px solid #e1e1e1;text-align:center;font-weight:600;background:#efeff1;}
.basic_tb2  tbody th{background:#f6f6f7;font-weight:500;text-align:center;font-weight:600;}
.basic_tb2  tbody td,.basic_tb  tbody th{padding:8px;border:1px solid #e1e1e1;}
.basic_tb2 td:first-child,.basic_tb2 th:first-child{border-left:0 !important;}
.basic_tb2 td:last-child,.basic_tb2 th:last-child{border-right:0 !important;}


/* 폼 */
.form_wrap .form_tit{margin-bottom:8px;display:block;color:#111;font-weight:600;}
.forms + .forms{margin-top:16px;}
.form_box.form_m input{height:56px;}
.form_box textarea{width:100%;min-height:120px;overflow-y:scroll;}
.form_box.gray_form{background:#f6f6f6;vertical-align:middle;padding:0 8px;border:1px solid #ededed;box-sizing:border-box;height:45px;line-height:45px;border-radius:4px;min-width:192px;}

.flex_form{display:flex;align-items:center;flex-wrap:wrap;}
.flex_form .form_wrap{display:flex;align-items:center;padding:4px;}
.flex_form .form_tit{height:100%;margin-bottom:0;min-width:90px;padding:0 16px;}
.flex_form .form_box{width:100%;}
.flex_form .form_box input{width:100%;}

.flex_form.from_gray .form_wrap{background:#f4f4f4;}
.flex_form.from_gray .form_wrap:first-child{border-radius:4px 0 0 4px;}
.flex_form.from_gray .form_wrap:last-child{border-radius:0 4px 4px 0;}
.flex_form.from_gray .form_wrap:not(:first-child){border-left:1px solid #e1e1e1;}
.flex_form.from_gray .form_box select,
.flex_form.from_gray .form_box input{width:100%;border:0;background-color:#f4f4f4;}

.flex_form.from_gray.no_wrap  .form_wrap:last-child{border-radius:4px}
.flex_form.from_gray.no_wrap  .form_wrap:not(:first-child){border-left:0;}

.flex_form.col_1 > *{width:100%;flex: 0 0 100%;}
.flex_form.col_2 > *{width:calc(100%  /2);}
.flex_form.col_3 > *{width:calc(100%  /3);}
.flex_form.col_4 > *{width:calc(100%  /4);}
.col_1 .form_wrap + .form_wrap{margin-top:4px}


.infomation .ico_info_bk{width:18px;height:18px;background:url('/_KOR/img/ir_sub.png') -407px -17px no-repeat;}

/* 컨텐츠 없음 */
.no_html{display:flex;justify-content:center;align-items:center;padding:136px 32px;text-align:center;}
.no_html .flex_wp .heading_5{padding:28px 0 16px;}

/* 사이드 타이틀 컨텐츠 */
.sec_leftbox{border-top:1px solid #acafb7;display:flex;padding:60px 0;}
.sec_leftbox .tit_box{position:relative;width:calc((100% - 160px) / 6 );padding-right:16px;}
.sec_leftbox .tit_box:before{content:'';position:absolute;top:-61px;left:0;width:100%;height:1px;background:#333;}
.sec_leftbox .con_box{width:calc(100% - ((100% - 160px) / 6) );padding-left:32px;}
.sec_leftbox .con_box .in_box{width:100%;}
.sec_leftbox:last-child{border-bottom:1px solid #ddd;}

.t_left_list > li{border-top:1px solid #ddd;display:flex;padding:24px 0;}
.t_left_list > li > .tit{width:10%;font-weight:700;}
.t_left_list > li > .con{width:90%;padding-left:16px;}
.t_left_list > li:last-child{border-bottom:1px solid #ddd;}

/* 모바일 스크롤 안내 */
.table_wrap .scl_notice {padding: 10px;background: #fff8f7;color: #f44336;border-radius: 4px;margin-bottom: 4px;display: none;}

/*찾아오시는 길*/
.map_wrap .map {border-bottom: 1px solid #eee;}
.map_wrap .map_info_box {position: absolute;top: 50%;margin-top: -200px;left: 2rem;padding: 16px;background: #fff;border-radius: 14px;z-index: 2;border: 1px solid #121212;}
.map_wrap .map_info_box .in_box {padding: 24px 24px 48px;}
.map_wrap .map_info_box .in_box .tit_list li + li {margin-top: 16px;}
.map_info_box .btn {min-width: 168px;}
.root_daum_roughmap .wrap_btn_zoom button {height: 30px;}
.root_daum_roughmap .wrap_btn_zoom .btn_zoom_reset {margin-top: 10px !important;}

/*회원가입 - 동의*/
.register .reg_step li {padding: 7px 15px;border: 1px solid #ddd;border-radius: 20px;margin-right: 20px;font-size: 0.875rem;position: relative;}
.register .reg_step li::after {content: '';display: block;width: 20px;height: 1px;background: #ddd;position: absolute;right: -22px;top: 15px;}
.register .reg_step li:last-child {margin-right: 0;}
.register .reg_step li:last-child::after {display: none;}
.register .reg_step li span {font-weight: 500;}
.register .reg_step li.on {background: #c73533;color: #fff;border: 1px solid #c73533;}
.register .clause_agree {border: 1px solid #ddd;padding: 40px;width: 800px;margin: 0 auto;border-radius: 20px;}
.register .clause_agree .chk_all {width: 100%;text-align: center;border: 1px solid #ddd;padding: 15px 0;border-radius: 5px;font-weight: 700;}
.register .clause_agree .notice {margin-top: 15px;padding-left: 30px;font-size: 0.938rem;position: relative;}
.register .clause_agree .notice::after {content: '!';display: block;width: 20px;height: 20px;border-radius: 50%;border: 1px solid #ddd;text-align: center;color: #787878;font-size: 0.875rem;line-height: 20px;position: absolute;top: 0;left:0;}
.clause_agree .fregister_agree span {margin-left: 5px;font-size: 0.875rem;font-weight: 500;}
#fregister_term {margin-top: 30px;padding-top: 30px;border-top: 1px dashed #ddd;}
#fregister_term .fregister_agree {margin-bottom: 7px;}
#fregister_term .clause_detail {width: 100%;padding: 20px;box-sizing: border-box;height: 100px;font-size: 0.875rem;}
#fregister_private {margin-top: 30px;}
#fregister_private .fregister_agree {margin-bottom: 7px;}
#fregister_private table {width: 100%;text-align: center;font-size: 0.875rem;}
.register .btn_box {margin-top: 30px;}
.register .btn_box > * {width: 120px;}
.register .btn_box .btn_close {color: #121212;vertical-align: middle;border: 1px solid #ccc;box-sizing: border-box;height: 45px;border-radius: 4px;line-height: 45px;}
.register .btn_box .btn_submit {background: #333;border-color: #333;color: #fff;}
.register .btn_box .btn_submit:hover {background: #000 !important;border-color: #000 !important;}

/*회원가입 - 정보입력*/
.register .step_tit {align-items: baseline;}
.register .step_tit .write_notice_basic {font-size: 0.938rem;margin-left: 7px;}
.register .join_form_box{padding: 20px 0;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.register .join_form_box .form_line {display: flex;justify-content: space-between;}
.register .join_form_box .form_line .half {width: 48%;margin-bottom: 10px;}
.register .join_form_box .form_line .input_tit {width: 20%;line-height: 45px;}
.register .join_form_box .form_line .include_info {width: 80%;}
.register .join_form_box .form_line .include_info:not(.chkbox) input {width: 100%;}
.register .join_form_box .form_line .include_info.chkbox {line-height: 45px;}

/*회원가입 - 완료*/
.register .join_ok {width: 100%;padding: 180px 40px 40px;background: url(../img/join_ok.png) no-repeat center 40px #fafafa;border-radius: 20px;}
.register .join_ok .reg_result_p {font-size: 1.25rem;padding-bottom: 30px;border-bottom: 1px dashed#ddd;margin-bottom: 20px;text-align: center;}
.register .join_ok .result_txt {margin-bottom: 7px;font-size: 0.875rem;padding-left: 25px;position: relative;}
.register .join_ok .result_txt::after {content: '!';display: block;width: 18px;height: 18px;border-radius: 50%;background: #fff;border: 1px solid #ddd;font-size: 0.75rem;text-align: center;line-height: 18px;position: absolute;top: -2px;left: 0;}
.btn_confirm_reg.t_a_c {margin-top: 20px;}

/*마이페이지 - 비밀번호 확인*/
.ck_mypg {width: 800px;border: 1px solid #ddd;padding: 40px;border-radius: 20px;margin: 0 auto;}
.ck_mypg .fb1 {text-align: center;font-size: 1.625rem;margin-bottom: 30px;}
.ck_mypg .text_box {text-align: center;}
.ck_mypg .in_box {margin-top: 40px;border-top: 1px dashed #ddd;border-bottom:1px dashed #ddd; padding:20px 0;}
.ck_mypg .in_box li {width: 300px;margin: 0 auto;margin-bottom: 10px;}
.ck_mypg .in_box li:last-child{margin-bottom: 0;}
.ck_mypg .in_box li > div:first-child {margin-right: 10px;width: 30%;}
.ck_mypg .input_tit {line-height: 45px;}
.ck_mypg .btn_box {margin-top: 30px;}
.ck_mypg .btn_box .btn_submit {padding:8px 40px}

/*페이지 준비중*/
.prepare_wrap {width: 100%;padding: 80px 0;text-align: center;border-radius: 20px;background: #fafafa;}
.prepare_wrap .img_box {width: 150px;height: 120px;background: url(../img//no_cont.png) no-repeat center;margin: 0 auto;}
.prepare_wrap .heading_5 {margin-top: 20px;}

/*개인정보 처리방침*/
.privacy_wrap .top_info {width: 100%;padding: 40px;border-radius: 20px;background: #fafafa;line-height: 1.4;}
.privacy_wrap .top_info p:last-child {margin-top: 20px;}
.privacy_wrap .fb3 {margin: 40px 0 20px;position: relative;}
.privacy_wrap .fb3::after{content: '';display: block;width: 45px;height: 4px;border-radius: 2px 2px 0 2px;background: linear-gradient(45deg, rgb(255, 95, 109) 0%, rgb(255, 162, 104) 100%);position: absolute;top: -7px;left: 0;}
.privacy_wrap .con_t {margin-top: 25px;padding-left: 15px;font-weight: 600;font-size: 1.125rem;position: relative;margin-bottom: 10px;}
.privacy_wrap .con_t::after {content: '';display: block; width: 0;height: 0;border-bottom: 5px solid transparent;border-top: 5px solid transparent;border-left: 10px solid #e9554c ;border-right: 10px solid transparent;position: absolute;top: 5px;left: 0;}
.privacy_wrap .con {padding-left: 15px;}
.privacy_wrap .dep1 {padding-left: 15px;font-size: 0.875rem;margin-top: 7px;}
.privacy_wrap .dep1 li {padding-left: 15px;margin-bottom: 5px;position: relative;}
.privacy_wrap .dep1 li::after {content: '';display: block;width: 7px;height: 2px;background: #868686;position: absolute;top: 7px;left: 0;}

/* 센터소개 */
.idm_intro .intro_wrap {position: relative;padding: 50px 0 90px;}
.idm_intro .intro_wrap:before {content: '';position: absolute;bottom: 0;left: 0;width: calc((100vw - 1400px) /2 + (700px * 0.594));height: 100%;background: #fafafa;transition: all 0.5s ease;border-radius: 0 20px 20px 0;}
.idm_intro .intro_wrap .left_box {width: 50%;position: relative;}
.idm_intro .intro_wrap .left_box .attach {position: absolute;left: 50px;bottom: -40px;font-size: 0.875rem;padding-left: 20px;}
.idm_intro .intro_wrap .left_box .attach::after {content: '';display: block;width: 20px;height: 20px;background: url(../img/point_map.png) no-repeat center;position: absolute;top: -3px;left: 0;}
.idm_intro .intro_wrap .left_box .img_box {position: absolute;left: 50px;top:0;width: 620px;height: 370px;border-radius: 20px;overflow: hidden;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);}
.idm_intro .intro_wrap .right_box {width: calc(50% - 32px);padding-left: 32px;margin-left: 32px;position: relative;}
.idm_intro .intro_wrap .right_box::after {content: '';display: block;width: calc(100% - 32px);height: 1px;background: #ddd;position: absolute;top: 48px;z-index: -1;}
.idm_intro .intro_wrap .text_box .heading_6 {padding-bottom: 10px;}
.idm_intro .intro_wrap .text_box {line-height: 1.5rem;}
.idm_intro .intro_wrap .text_box .deco_img {width: 50px;height: 50px;background: url(../img/intro_mark.png) no-repeat center #fff;margin-bottom: 30px;}
.idm_intro .intro_wrap .text_box .ico_dfn {vertical-align: top;width: 14px;height: 14px;border-radius: 50%;background: #efefef;font-size: 11px;font-weight: 500;text-align: center;line-height: 14px;color: #777;}
.idm_intro .intro_wrap .text_box .dfn_wp {display: flex;padding-top: 32px;margin-top: 32px;border-top: 1px solid #ddd;font-size: 0.875rem;}
.idm_intro .intro_wrap .text_box .dfn_wp .ico_dfn {margin-right: 12px;}

.vision_wrap > div:not(.box_01) {margin-top: 60px;}
.vision_wrap .box_tit {font-weight: 700;color: #c73533;margin-bottom: 15px;text-align: center;}
.vision_wrap .box_01 {width: 100%;padding: 50px 0;text-align: center;background:#e9554c;border-radius: 20px 20px 0 20px;color: #fff;}
.vision_wrap .box_01 .box_tit {color: #fff;}
.vision_wrap .box_01 .in_con {font-size: 1.5rem;font-weight: 500;}
.vision_wrap .box_01 .in_con span {font-weight: 700;}
.vision_wrap .box_02 .in_con span {font-size: 1.125rem;padding: 15px 40px;border: 5px solid #e9554c;position: relative;font-weight: 500;}
.vision_wrap .box_02 .in_con span::before {content: '';display: block;width: 95%;height: 5px;background: #fff;position: absolute;top: -5px;left: 50%;transform: translateX(-50%);}
.vision_wrap .box_02 .in_con span::after {content: '';display: block;width: 95%;height: 5px;background: #fff;position: absolute;bottom: -5px;left: 50%;transform: translateX(-50%);}
.vision_wrap .box_03 .in_con  {justify-content: space-between;}
.vision_wrap .box_03 .in_con > li {width: calc(25% - 32px);}
.vision_wrap .box_03 .in_con > li .t_ico {padding: 32px;text-align: center;border-radius: 20px;position: relative;font-weight: 500;color: #fff;}
.vision_wrap .box_03 .in_con > li .t_ico::after {content: '';display: block;width: 1px;height: 30px;background: #ddd;position: absolute;bottom: -30px;left: 50%;transform: translateX(-50%);}
.vision_wrap .box_03 .in_con > li.item_01 .t_ico {background: #fdf0e9 ;}
.vision_wrap .box_03 .in_con > li.item_02 .t_ico {background: #fff9df ;}
.vision_wrap .box_03 .in_con > li.item_03 .t_ico {background: #eef4f4 ;}
.vision_wrap .box_03 .in_con > li.item_04 .t_ico {background: #f0f1fb ;}
/* .vision_wrap .box_03 .in_con > li.item_01 .t_ico {background: #ffb38a;}
.vision_wrap .box_03 .in_con > li.item_02 .t_ico {background: #ffea8f;}
.vision_wrap .box_03 .in_con > li.item_03 .t_ico {background: #a7e1e1;}
.vision_wrap .box_03 .in_con > li.item_04 .t_ico {background: #abb2ff;} */
.vision_wrap .box_03 .in_con > li.item_01 .t_ico::after {background: #FF836A;}
.vision_wrap .box_03 .in_con > li.item_02 .t_ico::after {background: #FF696C;}
.vision_wrap .box_03 .in_con > li.item_03 .t_ico::after {background: #ea5850;}
.vision_wrap .box_03 .in_con > li.item_04 .t_ico::after {background: #bb433d;}
.vision_wrap .box_03 .in_con > li .con {margin-top:40px; border: 1px solid #ddd;border-radius: 20px;position: relative;}
.vision_wrap .box_03 .in_con > li .con::after {content: '';display: block;width: 7px;height: 7px;border-radius: 50%;background-color: #ddd;border: 5px solid #fff;position: absolute;top: -9px;left: 50%;transform: translateX(-50%);}
.vision_wrap .box_03 .in_con > li.item_01 .con::after {background: #FF836A;}
.vision_wrap .box_03 .in_con > li.item_02 .con::after {background: #FF696C;}
.vision_wrap .box_03 .in_con > li.item_03 .con::after {background: #ea5850;}
.vision_wrap .box_03 .in_con > li.item_04 .con::after {background: #bb433d;}
.vision_wrap .box_03 .in_con > li .con li {padding: 20px 5px;text-align: center;min-height: 80px;position: relative;}
.vision_wrap .box_03 .in_con > li .con li::after {content: '';display: block;width: 60%;height: 1px;background: #ddd;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);}
.vision_wrap .box_03 .in_con > li .con li:last-child::after {display: none;}
.vision_wrap .box_04 .in_con {border:1px solid #ddd;border-radius: 15px;}
.vision_wrap .box_04 .in_con li {width: calc(100% / 3);text-align: center;padding: 25px;position: relative;}
.vision_wrap .box_04 .in_con li::after {content: '';display: block;width: 7px;height: 7px;border-radius: 50%;background-color: #ddd;position: absolute;top: 30px;right: 0;}
.vision_wrap .box_04 .in_con li:last-child::after {display: none;}

.pro_sum ul {flex-wrap: wrap;padding: 32px;background-color: #fafafa;}
.pro_sum li {width: 50%;display: flex;align-items: center;padding: 16px 0;border-bottom: 1px solid #ddd;}
.pro_sum li .fb1 {margin-bottom: 7px;}
.pro_sum li .ico {border-radius: 50%;background: url(../img/intro_ir.png) 0 0 no-repeat #fff;width: 60px;height: 60px;margin-right: 16px;}
.pro_sum .item_01 .ico {background-position: 7px 2px;}
.pro_sum .item_02 .ico {background-position: -47px 2px;}
.pro_sum .item_03 .ico {background-position: -103px 2px;}
.pro_sum .item_04 .ico {background-position: -153px 2px;}
.pro_sum .item_05 .ico {background-position: -205px 2px;}

/* 장비예약 */
.rev_wrap .dp_flex {justify-content: space-between;}
.rev_wrap .heading_6 {border-bottom:1px solid #d6d7da;}
.rev_wrap .rev_cont {width: 60%;}
.rev_cont > div:not(.resv_type_wrap) {margin-top: 60px;}
.resv_type_wrap .tab_box {position: relative;min-height: 120px;padding: 24px;}
.resv_type_wrap .heading_6 {border-bottom: none;}
.resv_type_wrap .tab_box {padding: 0;}
.resv_type_wrap .ret_tabs { position: absolute;left: 0px;top: 0;width: 100%;}
.resv_type_wrap .ret_tabs:before {content: '';position: absolute;top: 44px;background: #f4f4f4;height: 2px;width: 100%;z-index: -1;}
.resv_type_wrap .ret_tabs > li {display: inline-block;}
.resv_type_wrap .ret_tabs > li > .tab_link {padding: 12px 28px;color:#8d9297;}
.resv_type_wrap .ret_tabs > li > .tab_link.active {color: #e9554c;font-weight: 700;border-bottom: 2px solid #c73533;}
.resv_type_wrap .ret_tabs .type_select {width: 100%;position: absolute;left: 0;top: 65px;display: none;}
.resv_type_wrap .ret_tabs > li:first-child > .type_select {display: block;}
.resv_type_wrap .ret_tabs .type_select select {width: 50% !important;}

.cla_box .now_month {font-size: 1.5rem;}
.cal_slect_area {position: relative;padding: 24px;}
.cal_slect_area .btn_box {position: absolute;top: 15px;right: 24px;}
.cal_slect_area .btn_box .btn {position: relative;background: #f2f4f6;font-weight: normal;}
.cal_slect_area .btn_box .btn::after {content: '';display: block;width: 20px;height: 20px;position: absolute;}
.cal_slect_area .btn_box .prev {padding-left: 30px;}
.cal_slect_area .btn_box .prev::after {background: url(../img/sd_ir.png) no-repeat 8px -10px;left: 5px;top: 12px;}
.cal_slect_area .btn_box .next {padding-right: 30px;}
.cal_slect_area .btn_box .next::after {background: url(../img/sd_ir.png) no-repeat -38px -10px;right: 5px;top: 12px;}
.cal_slect_area .btn_box .btn:hover {box-shadow: none;}
.rev_cal_wrap {margin-top: 20px;}
.rev_cal_table{font-size:14px;table-layout:fixed;}
.rev_cal_table th{padding:12px;border-top:1px solid #ebedef;}
.rev_cal_table .sun{color:#d74e51;}
.rev_cal_table .sat{color:#488dc9;}
.rev_cal_table td{border:solid #ebedef;border-width:1px 0;text-align:center;}
.rev_cal_table td a{display:block;padding:12px;}
.rev_cal_table td a:hover{background:#fff5f6;color:#ed1c24;}
.rev_cal_table td a:hover .left_state{color:#ed1c24;}
.rev_cal_table td.active a{background:#ed1c24;color:#fff;}
.rev_cal_table td.active a .left-state{color:#fff;}
.rev_cal_table td.notleft,.rev_cal_table td.balnk_day{padding:12px;background:#f8f8f8;}
.rev_cal_table .state_box {margin-top: 5px;}
.rev_cal_table .state_box span {font-size:12px;color:#666666;}
.rev_cal_table td.active a {background: #ed1c24;color: #fff;}
.rev_cal_table td.active a span {color: #fff;}

.time_ck_box {padding: 24px;}
.time_ck_box ul {flex-wrap: wrap;}
.time_ck_box ul li {width: calc(25% - 6px);text-align: center;margin-right: 6px;margin-bottom: 6px;}
.time_ck_box ul li:nth-child(4n) {margin-right: 0;}
.time_ck_box ul li a {width: 100%;padding: 12px 0;border: 1px solid #ddd;border-radius: 5px;}
.time_ck_box ul li a:hover {border: 1px solid #000;}
.time_ck_box ul li a.choice {border: 1px solid #ed3583;color: #ed3583;background: #fff;box-shadow: 4px 4px 8px 0px rgb(237 31 36 / 18%);font-weight: 500;}

.box_action {width: 500px;position: relative;}
.box_action .rev_info{width:500px; padding: 36px 24px;border: 1px solid #d6d7da;border-radius: 8px;box-shadow: 8px 9px 22px 0px rgb(0,0,0,0.05);position: absolute;top: 0;left: 0;}
.rev_info > div:not(.st_01) {margin-top: 25px;}
.rev_info .st_tit {font-size: 1.125rem;margin-bottom: 5px;}
.rev_info .roundbox {padding: 14px; border: 1px solid #ddd;border-radius: 8px;overflow: hidden;}
.rev_info .st_01 .roundbox {font-size: 1.5rem;font-weight: 600;color: #c73533;}
.rev_info .st_02 .roundbox {position: relative;}
.rev_info .st_02 .roundbox .label {position: absolute;top: 0;left: 0;height: 100%;background: #f6f7f9;text-align: center;padding: 14px 40px;}
.rev_info .st_02 .roundbox .date {color: #2b77e6;font-weight: 500;text-align: right;}
.rev_info .st_03 .roundbox {padding: 14px 14px 0 14px;}
.rev_info .st_03 .time ul {display: flex;flex-wrap: wrap;}
.rev_info .st_03 .time ul li {width: 30%;margin-right: 3%;margin-bottom: 14px;color:#2b77e6;font-weight: 500;position: relative;}
.rev_info .st_03 .time ul li::after {content: '';display: block;width: 2px;height: 10px;background: #ddd;transform: rotate(30deg);position: absolute;top: 5px;right: 5px;}
.rev_info .st_03 .time ul li:last-child::after{display: none;}
.rev_info .st_04 .pe_info {padding: 14px;background: #fafafa;}
.rev_info .st_04 .pe_info .label {margin-bottom: 5px;}
.rev_info .st_04 .pe_info .form_box {margin-bottom: 20px;}
.rev_info .st_04 .pe_info .form_box:last-child {margin-bottom: 0;}
.rev_info .st_04 .pe_info .form_box input {width: 100%;}
.rev_info .cta_btn {width: 100%;padding: 14px 0;text-align: center;border-radius: 8px;font-weight: 500;transition: all .3s;}
.rev_info .cta_btn:hover {background: #c73533 !important;}

/* 시설안내 */
.noitce_box.sp_rev {padding: 20px;background: #fafafa;display: flex;align-items: center;margin-bottom:30px;}
.noitce_box.sp_rev .ico {width: 40px;height: 40px;background: url(../img/ico_notice_r.png) no-repeat center #fff;border-radius: 50%;transform: rotate(20deg);margin-right: 15px;}

.noitce_box.sp_rev span {font-weight: 600;position: relative;}
.noitce_box.sp_rev span::after {content: '';display: block;width: 100%;height: 7px;background: rgba(233, 94, 55, 0.2);position: absolute;bottom: -1px;left: 0;}
.floor_wrap {padding-top: 30px;}
.floor_box {position: relative;width: 100%;margin-bottom: 60px;min-height: 50px;}
.floor_box::before {content: '';display: block;width: calc(100% - 20px);height: 1px;background-color: #ddd;position: absolute;top: 0;left: 0;}
.floor_box .floor_tit a {min-width: 350px;padding: 20px;background: #fff;position: absolute;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);border-radius: 14px;top: -30px;left: 0;}
.floor_box .floor_tit .tit {font-size: 1.25rem;font-weight: 700;display: flex;}
.floor_box .floor_tit .tit .num {margin-right: 7px;}
.floor_box .floor_tit.active .tit .text {color: #c73533;}
.floor_box .floor_tit .arrow {width: 35px;height: 35px;border-radius: 10px;background-color: #c73533;position: absolute;right: 20px;top: 14px;}
.floor_box .floor_tit .arrow .a_ico {width: 100%;height: 100%;background: url(../img/arrow_d_w.png) no-repeat center;}
.floor_box .floor_tit.active .arrow .a_ico {background: url(../img/arrow_u_w.png) no-repeat center;}
.floor_box .floor_con {padding: 20px;border: 1px solid #ddd;margin-top: 3px;border-radius: 10px;background-color: #fff;display: none;}
.floor_box .floor_con.open {display: block;}
.floor_box .floor_con .img_box {width: 100%;text-align: center;}
.floor_box .floor_con .de_fl {padding: 15px 10px;border: 1px dashed #ddd;border-radius: 5px;padding-left: 40px;position: relative;}
.floor_box .floor_con .de_fl::after {content: '!';display: block;width: 20px;height: 20px;background: #fafafa;position: absolute;top: 15px;left: 10px;border: 1px solid #ddd;border-radius: 50%;text-align: center;font-size: 12px;line-height: 20px;}

/* 공간예약 */
.sp_ver .resv_type_wrap .heading_6 {border-bottom: 1px solid #d6d7da;}
.sp_ver .sp_ck_box {padding: 24px;}
.sp_ver .sp_ck_box .dp_flex {justify-content: start;}
.sp_ver .sp_ck_box li {width: calc(25% - 6px);text-align: center;margin-right: 6px;}
.sp_ver .sp_ck_box li a {width: 100%;padding: 12px 0;border: 1px solid #ddd;border-radius: 5px;}
.sp_ver .sp_ck_box li a:hover {border: 1px solid #000;}
.sp_ver .sp_ck_box li a.active {border: 1px solid #ed3583;color: #ed3583;background: #fff;box-shadow: 4px 4px 8px 0px rgb(237 31 36 / 18%);font-weight: 500;}
.sp_ver .time_ck_box .dp_flex {justify-content: start;}
.sel_user_type {margin-bottom: 20px;}
.sel_user_type li {width: calc(50% - 6px);text-align: center;margin-right: 6px;margin-bottom:6px;background: #fff;}
.sel_user_type li a {width: 100%;padding: 12px 0;border: 1px solid #ddd;border-radius: 5px;}
.sel_user_type li a:hover {border: 1px solid #000;}
.sel_user_type li a.active {border: 1px solid #ed3583;color: #ed3583;background: #fff;box-shadow: 4px 4px 8px 0px rgb(237 31 36 / 18%);font-weight: 500;}

/* 마이페이지 */
.my_info_wrap {display: flex;margin-bottom: 40px;}
.my_info_wrap .user_info {width: 40%;border: 1px solid #ddd;border-radius: 14px;margin-right: 32px;display: flex;align-items: center;padding: 0 32px;}
.my_info_wrap .user_info .ico {width: 100px;height: 100px;border-radius: 50%;box-shadow: 4px 3px 11px 10px rgba(0,0,0,0.02);margin-right: 20px;background: url(../img/user_ico.png) no-repeat center;}
.my_info_wrap .user_info .in_box {width: calc(100% - 120px);}
.my_info_wrap .user_info .name {font-size: 1.5rem;font-weight: 600;padding-bottom: 10px;border-bottom: 1px dashed #ddd;margin-bottom: 15px;}
.my_info_wrap .user_info .name .sm_font {font-size: 1.25rem;}
.my_info_wrap .user_info .name .id {font-size: 1rem;margin-left: 5px;color: #717171;}
.my_info_wrap .user_info .type {display: flex;align-items: center;}
.my_info_wrap .user_info .type .lv_tag {padding: 7px 10px 7px 35px;margin-right: 10px;position: relative;border-radius: 5px;font-size: 0.875rem;}
.my_info_wrap .user_info .type .lv_tag.lv_01 {background: #f39800;color: #fff;}
.my_info_wrap .user_info .type .lv_tag.lv_02 {background: #83ba36;color: #fff;}
.my_info_wrap .user_info .type .lv_tag.lv_03 {background: #76318d;color: #fff;}
.my_info_wrap .user_info .type .lv_tag::after {content: 'N';display: block;width: 20px;height: 20px;background: #fff;border-radius: 50%;position: absolute;top: 5px;left: 10px;font-size: 0.875rem;font-weight: 700;color:#f39800;text-align: center;line-height: 20px;}
.my_info_wrap .user_info .type .lv_tag.lv_02::after {content: 'I';color: #83ba36;}
.my_info_wrap .user_info .type .lv_tag.lv_03::after {content: 'M';color: #76318d;}
.my_info_wrap .user_info .lv_pop {width: 30px;height: 30px;background: #b6b6b6;text-align: center;line-height: 30px;border-radius: 5px;color: #fff;font-weight: 500;}
.my_info_wrap .user_info .lv_pop:hover {background: #5d5d5d;}

.lvPopCont{display: none;}
#lvPop {display: none;position: fixed;top: 0;left: 0;border-radius: 15px;min-height: 240px;max-height: 60vh;width: 620px;overflow: hidden;border: 1px solid #3a3a3a;background: #fff;overflow-y: auto;box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);z-index: 10;}
#lvPop .tit {position: relative;font-size: 20px;font-size: 1.250em;color: #eee;padding: 0.75em 2.3em;padding-right: 2.5em;background: #3a3a3a;}
#lvPop .tit::after {content: "i";display: block;width: 16px;height: 16px;border: 1px solid #fff;border-radius: 50%;text-align: center;font-size: 11px;font-weight: bold;line-height: 16px;position: absolute;top: 1.7em;left: 20px;}
#lvPop .cont {padding: 30px 20px;}
#lvPop .cont .dash_box {padding: 10px;border: 1px dashed #ddd;border-radius: 5px;margin-bottom: 15px;}
#lvPop .cont .mid_tit{font-size: 0.938rem;padding-left: 10px;position: relative;margin-bottom: 5px;}
#lvPop .cont .mid_tit::after {content: '';display: block;width: 5px;height: 5px;border-radius: 50%;background: #666;position: absolute;top: 6px;left: 0;}
#lvPop .cont table {font-size: 0.875rem;}

#lvPop .noteClose {position: absolute;width: 1rem;height: 1rem;background: url(../img/pop_cl_ico.png) no-repeat center;border-radius: 0;top: 1.1em;right: 2em;border: none;}

.my_info_wrap .total_box {width: calc(60% - 32px);background: #fafafa;border-radius: 14px 14px 0 14px;overflow: hidden;}
.my_info_wrap .total_box ul {display: flex;}
.my_info_wrap .total_box ul li {width: 25%;text-align: center;}
.my_info_wrap .total_box ul li .tit {padding: 32px 20px 20px;border-bottom: 1px solid #ddd;}
.my_info_wrap .total_box ul li .num {padding: 32px 0;position: relative;}
.my_info_wrap .total_box ul li .num::after {content: '';display: block;width: 1px;height: 30px;background: #ddd;position: absolute;top: 32px;right: 0;}
.my_info_wrap .total_box ul li:last-child .num::after {display: none;}
.my_info_wrap .total_box ul li .num .fb3 {font-size: 1.5rem;margin-right: 3px;}
.my_info_wrap .total_box ul li .num:hover .fb3 {color: #c73533;}

.my_state_box {margin-top: 50px;}
.my_state_box .cp_tit {font-size: 1.125rem;padding-left: 20px;position: relative;}
.my_state_box .fb2::after {content: '';display: block;width: 4px;height: 20px;background:linear-gradient(161deg, rgba(255,95,109,1) 0%, rgba(255,162,104,1) 100%);transform: rotate(30deg);position: absolute;top: 0;left: 3px;border-radius: 4px;}
.my_state_box .basic_tb {text-align: center;}
.my_state_box .basic_tb .rev_num {color: #c73533;}
.my_state_box .basic_tb .in_box p {padding-left: 10px;text-align: left;position: relative;}
.my_state_box .basic_tb .in_box p::after {content: '';display: block;width: 5px;height: 5px;border-radius: 50%;background: #ddd;position: absolute;top: 9px;left: 0;}
.my_state_box .basic_tb .btn_box .btn {font-weight: 500;padding: 8px 14px;}
.my_state_box .basic_tb .btn_box .btn.bg_disable:hover {box-shadow: none;}
.my_state_box .basic_tb .time_list {display: flex;flex-wrap: wrap;padding-left: 10px;position: relative;}
.my_state_box .basic_tb .time_list::after {content: '';display: block;width: 5px;height: 5px;border-radius: 50%;background: #ddd;position: absolute;top: 9px;left: 0;}
.my_state_box .basic_tb .time_list li {margin-right: 20px;position: relative;}
.my_state_box .basic_tb .time_list li::after {content: '';display: block;width: 2px;height: 10px;background: #ddd;transform: rotate(30deg);position: absolute;top: 7px;right: -12px;}
.my_state_box .basic_tb .time_list li:last-child::after {display: none;}

/* 예약 상세보기 */
.myres_box {border: 10px solid #f0f0f0;border-radius: 20px;padding: 50px 32px 35px;}
.myres_box .res_num {padding: 20px;display: flex;background: #fff5f5;border-radius: 10px;margin-bottom: 30px;align-items: center;justify-content: center;}
.myres_box .res_num .fb2 {font-size: 1.25rem;margin-left: 15px;}
.myres_box .info_list {flex-wrap: wrap;}
.myres_box .info_list > li {width: 50%;display: flex;padding-bottom: 15px;border-bottom: 1px dashed #ddd;margin-bottom: 15px;}
.myres_box .info_list > li .tit {width: 15%;}
.myres_box .info_list > li .cont {font-weight: 500;width: 85%;}
.myres_box .info_list > li .time_list {display: flex;flex-wrap: wrap;}
.myres_box .info_list > li .time_list li {margin-right: 20px;position: relative;}
.myres_box .info_list > li .time_list li::after {content: '';display: block;width: 2px;height: 10px;background: #ddd;transform: rotate(30deg);position: absolute;top: 5px;right: -12px;}
.myres_box .info_list > li .time_list li:last-child::after {display: none;}
.myres_wrap .btn_box {text-align: center;margin-top: 25px;}