@charset "UTF-8";

/* 컨트롤s */
.slick-nav a{width:60px;height:60px;vertical-align: text-top;}
.nav_w .slick-nav a.slick-prev{background:url('../img/main_sd_l_w.svg') center center no-repeat;}
.nav_w .slick-nav a.slick-next{background:url('../img/main_sd_r_w.svg') center center no-repeat;}
.nav_w .slick-nav a.slick-stop{background:url('../img/main_sd_stop_w.svg') center center no-repeat;}
.nav_w .slick-nav a.slick-play{background:url('../img/main_sd_play_w.svg') center center no-repeat;}

.nav_bk .slick-nav a.slick-prev{background:url('../img/main_sd_l_bk.svg') center center no-repeat;}
.nav_bk .slick-nav a.slick-next{background:url('../img/main_sd_r_bk.svg') center center no-repeat;}
.nav_bk .slick-nav a.slick-stop{background:url('../img/main_sd_stop_bk.svg') center center no-repeat;}
.nav_bk .slick-nav a.slick-play{background:url('../img/main_sd_play_bk.svg') center center no-repeat;}

/* 알림+ 검색 */
.sec_01 {background: #f9f9f9;}
.sec_01 .con_box {padding: 70px 0 80px;}
.sec_01 .box_l {width: 60%;}
.sec_01 .alim_sd a{display:block;border:1px solid #ededed;border-radius:8px;overflow:hidden;}
.sec_01 .alim_sd .item img{width:100%;height:100%;}
.sec_01 .box_body {position: relative;height: 450px;border-radius: 20px;overflow: hidden;}
.sec_01 .alim_sd_wrap .slick-nav{position:absolute;left: 50%;bottom: -20px;transform: translateX(-50%);}
.sec_01 .box_r {width: 40%;padding: 45px 45px 0 70px;}
.sec_01 .box_r .in_box {width: 440px;margin: 0 auto;}
.sec_01 .top_text > div {font-size: 1.875rem;text-align: center;}
.sec_01 .top_text .t_1 {color: #585d65;}
.sec_01 .top_text .t_2 {color: #e9554c;}
.main_search {margin-top: 12px;margin-bottom: 50px;padding: 50px 0;border-bottom: 1px solid #ddd;}
.main_search .search_form input[type="text"] {border: 0;min-width: 380px;border-radius: 22px 0 0 22px;height: 50px;padding:8px 20px}
.main_search .searchbtn {background: #000;border-radius: 0 6px 6px 0;color: #fff;border: 0;font-weight: 600;padding: 10px 16px;height: 50px;border-radius: 0 22px 22px 0;}
.main_quick ul {justify-content: center;}
.main_quick li {margin-right: 15px;}
.main_quick li:last-child {margin-right: 0;}
.main_quick .ico {width: 84px;height: 84px;display: flex;align-items: center;background: #fff;border-radius: 10px;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);}
.main_quick p {text-align: center;margin-top: 15px;}

/* 소식 */
.main_container .sec:not(.sec_01) {padding-top: 120px;}
.main_container .heading_2.typo_j {text-align: center;}
.sec_02 .heading_2.typo_j {margin-bottom: 60px;}
.sec_02 .dp_flex > div {width: calc(50% - 16px);}
.sec_02 .dp_flex > div .s_tit {font-size: 1.625rem;}
.sec_02 .news_tab_box {position: relative;}
.sec_02 .news_tabs {position: absolute;left: 0;top: 5px; width: 100%;padding-left: 110px;}
.sec_02 .news_tabs .m_tit {font-size: 1.25rem;font-weight: 500;}
.sec_02 .news_tabs > li {display: inline-block;}
.sec_02 .news_tabs > li > .tab_link {position: relative;display: block;padding: 0 5px;}
.sec_02 .news_tabs > li > .tab_link::after {content: '';display: block;width: 0%;height: 8px;background: rgba(231, 109, 76, 0.2);position: absolute;bottom:3px;left: 0;transition: all 0.3s ease;}
.sec_02 .news_tabs > li > .tab_link.active {color: #e9554c;font-weight: 700;}
.sec_02 .news_tabs > li > .tab_link.active::after {width: 100%;}
.sec_02 .news_tabs > li > .tab_link:hover::after {width: 100%;}
.sec_02 .news_tabs .tab_cont {width: 100%;position: absolute;left: 0;top: 50px;display: none;}
.sec_02 .news_tabs > li:first-child .tab_cont {display: block;}
.sec_02 .more_text_btn {position: absolute;top: 2px;right: 0;font-size: 0.938rem;}
.sec_02 .tab_cont li {width: 100%;}
.sec_02 .tab_cont li a {width: 100%;display: flex;justify-content: space-between;padding: 32px;border: 1px dashed #ddd;border-bottom: none; align-items: center;}
.sec_02 .tab_cont li:last-child a {border-bottom: 1px dashed #ddd;}
.sec_02 .tab_cont .bo_tit {font-size: 1.125rem;font-weight: 500;max-width: 80%;display: block; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;position: relative;padding-right: 23px;}
.sec_02 .tab_cont .new .bo_tit::after {content: 'N';display: block;width: 18px;height: 18px;border-radius: 3px;background: #ffdde2;color: #fc180f;font-size: 0.875rem;font-weight: bold;text-align: center;line-height: 18px;position: absolute;top: 2px;right: 0;}
.sec_02 .tab_cont .bo_date {font-size: 0.875rem;color: #343434;width: 20%;text-align: right;}
.sec_02 .promo_list_box {margin-top: 23px;}
.sec_02 .promo_list > li {width: calc(50% - 16px);}
.sec_02 .promo_list > li a {display: block;}
.sec_02 .promo_list .thum_box {width: 100%;height: 240px;border: 1px solid #ddd;border-radius: 10px;overflow: hidden;}
.sec_02 .promo_list .text_box {position: relative;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 30px 0 28px;margin-top: 35px;}
.sec_02 .promo_list .text_box .tag {padding: 7px 13px;border-radius: 20px;position: absolute;top: -15px;left: 0;font-size: 0.875rem;font-weight: 500;}
.sec_02 .promo_list .text_box .tag.tag_1 {color: #fb672b;background: #ffefe9;}
.sec_02 .promo_list .text_box .tag.tag_2 {color: #359020;background: #dff2de;}
.sec_02 .promo_list .text_box .tit {font-size: 1.125rem;font-weight: 500;width: 95%;text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 25px;height: 50px;}
.sec_02 .promo_list .text_box .date {margin-top: 30px;}

/* 프로그램 */
.sec_03 .bg_box {background: #fffbf5;padding: 80px 0 90px;}

.pg_tab_box{position:relative;min-height:580px;}
.pg_tabs {position:absolute;right:0;top:50px;width:100%;text-align:center;}
.pg_tabs::before {content: '';display: block;width: 454px;height: 64px;background-color: #fff;position: absolute;top: -5px;left: 50%;transform: translateX(-50%);border-radius: 30px;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);}
.pg_tabs > li{display:inline-block;position: relative;}
.pg_tabs > li::before {content: '';display: block;width: 4px;height: 4px;border-radius: 50%;background: #d1d1d3;position: absolute;top: 23px;right: 0;}
.pg_tabs > li:last-child::before {display: none;}
.pg_tabs > li > a.tab_link{position:relative;display:block;padding:15px 30px;font-size:1.25rem;font-weight:500;text-align:center;border-radius:30px;}
.pg_tabs > li > a.tab_link.active {color:#fff;background:#5c9700;}
.pg_tabs > li > a.tab_link span{width:0;}
.pg_tabs > li > a.tab_link.active span,.pg_tabs > li > a.tab_link:hover span{width:20px;height:20px;background:url('/_KOR/img/ir.png') no-repeat -398px -123px;transition:width .2s ease;}
.pg_tabs .tab_cont{display:none;width:100%;position:absolute;left:0px;top:120px;text-align:left;}
.pg_tabs > li:first-child > .tab_cont{display:block}

.tab_title_box{position:relative;}
.tab_title_box:before{content:'';position:absolute;top:50%;left:0;width:100%;height:1px;background:#dbe1d3;z-index:0;}
.tab_title_box .tab_title{position:relative;display:inline-flex;align-items:center;background:#f0f6e8;z-index:1;}
.tab_title_box .tab_title .desc{padding:0 8px;}

/* 화순의 숲 프로그램 슬라이드 */
.pg_tabs .pg_sd{margin:32px -16px}
.pg_tabs .pg_sd .item_box{padding:16px;min-height:249px;}
.pg_tabs .pg_sd .item{position:relative;background:#fff;border-radius:14px;box-shadow:4px 6px 16px 0px rgb(92, 151, 0 ,.3);display:block;min-height:217px}
.pg_tabs .pg_sd .item .pg_tit{padding:20px 0 16px;font-size:1.125rem;font-weight:700;line-height:1.5rem;}
.pg_tabs .pg_sd .item .pg_tit p{font-weight:700;}
.pg_tabs .pg_sd .item .pg_desc{font-size:0.875rem;color:#666;}

.pg_tabs .sd_pg_forest .item .ico{width:36px;height:36px;border-radius:6px;background:#5c9700;}
.pg_tabs .sd_pg_forest .item{padding:32px 24px;}
.pg_tabs .sd_pg_wood .icon{position:absolute;top:32px;right:32px;}

.pg_tabs .sd_pg_wood .item .pg_tit{padding:32px 24px 16px;}
.pg_tabs .sd_pg_wood .pg_desc{padding:14px 24px;padding-top:16px;border-top:1px solid #eee;background:#faf7f4;border-radius:0 0 14px 14px}

.pg_tabs .sd_pg_wood .pg_desc_list li{margin-bottom:4px;}
.pg_tabs .sd_pg_wood .pg_desc_list li .ico{background:url('/_KOR/img/ico_pg_wood1.png') no-repeat center center #5a3d1c;width:26px;height:26px;border-radius:50%;}
.pg_tabs .sd_pg_wood .pg_desc_list li .ico.ico2{background:url('/_KOR/img/ico_pg_wood2.png') no-repeat center center #5a3d1c;}
.pg_tabs .sd_pg_wood .pg_desc_list li .ico.ico3{background:url('/_KOR/img/ico_pg_wood3.png') no-repeat center center #5a3d1c;}
.pg_tabs .sd_pg_wood .pg_desc_list li .tit{font-weight:700;margin:0 16px;}
.pg_tabs .sd_pg_wood .pg_desc_list li .con{max-width:61%}


.pg_sd_wrap .slick-nav{position:absolute;right:0;top:-8px;background:#fff;height:44px;border-radius:46px;}
.pg_sd_wrap .slick-nav a{width:44px;height:44px;vertical-align: text-top;}
.pg_sd_wrap .slick-nav a.slick-prev{background-position:-198px -111px;}
.pg_sd_wrap .slick-nav a.slick-next{background-position:-248px -111px;}
.pg_sd_wrap .slick-nav a.slick-stop{background-position:-300px -111px;}
.pg_sd_wrap .slick-nav a.slick-play{background-position:-348px -111px;}