@charset "UTF-8";

/* 컨트롤s */
.slick-nav a{background: url(../img/sd_ir.png) no-repeat;font-size: 0;z-index: 40;}

/* 알림+ 검색 */
.sec_01 {background: #f9f9f9;position: relative;}
.sec_01::after {content: '';display: block;width: 155px;height: 155px;background: url(../img/main_round_s.jpg) no-repeat;position: absolute;bottom:-155px;left: 0;}
.sec_01 .con_box {padding: 70px 0 80px;}
.sec_01 .box_l {width: 60%;}
.sec_01 .alim_sd a{display:block;border:1px solid #ededed;border-radius:8px;overflow:hidden;}
.sec_01 .alim_sd .item img{width:100%;height:100%;}
.sec_01 .box_body {position: relative;}
.sec_01 .alim_sd_wrap .slick-nav{position:absolute;left: 50%;bottom: -20px;transform: translateX(-50%);background:#fff;z-index: 10;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);border-radius: 20px 20px 0 20px;overflow: hidden;padding: 0 20px;}
.alim_sd_wrap .slick-nav a{width:30px;height:44px;vertical-align: text-top;}
.alim_sd_wrap .slick-nav a.slick-prev{background-position:10px 1px;margin-right: 30px;}
.alim_sd_wrap .slick-nav a.slick-next{background-position:-35px 1px;}
.alim_sd_wrap .slick-nav a.slick-stop{background-position:-86px 1px;}
.alim_sd_wrap .slick-nav a.slick-play{background-position:-130px 1px;display: none;}
.alim_sd_wrap .counter {position: absolute;bottom: -6px;left: 46.5%;z-index: 40;}
.alim_sd_wrap .counter .current {font-weight: 600;font-size: 1rem;color: #2b2b2b;}
.alim_sd_wrap .counter {font-size: 0.75rem;color: #7b7b7b;}
.alim_sd_wrap .alim_sd {height: 450px;border-radius: 20px;overflow: hidden;}
.sec_01 .box_r {width: 40%;padding: 45px 45px 0 70px;}
.sec_01 .box_r .in_box {width: 440px;margin: 0 auto;}
.sec_01 .top_text {position: relative;}
.sec_01 .top_text::after {content: '';display: block;width: 55px;height: 16px;background: url(../img/main_ir.png) no-repeat -225px -8px;position: absolute;bottom: -34px;left: 50%;transform: translateX(-50%);}
.sec_01 .top_text > div {font-size: 1.875rem;text-align: center;}
.sec_01 .top_text .t_1 {color: #585d65;}
.sec_01 .top_text .t_2 {color: #e9554c;}
.main_search {margin-top: 12px;margin-bottom: 50px;padding: 50px 0;border-bottom: 1px solid #ddd;}
.main_search .search_form {box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);border-radius: 25px;}
.main_search .search_form input[type="text"] {border: 0;min-width: 380px;border-radius: 25px 0 0 25px;height: 50px;padding:8px 20px;}
.main_search .searchbtn {border: 0;font-weight: 600;padding: 10px 16px;height: 50px;border-radius: 0 25px 25px 0;background: #fff;}
.main_search .searchbtn .ico_srh {width: 24px;height: 24px;background: url(../img/main_ir.png) -314px -4px no-repeat;}
.main_quick ul {justify-content: center;}
.main_quick li {margin-right: 15px;}
.main_quick li:last-child {margin-right: 0;}
.main_quick .ico {width: 84px;height: 84px;display: flex;align-items: center;background: #fff;border-radius: 10px;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);}
.main_quick p {text-align: center;margin-top: 15px;font-weight: 500;}

/* 소식 */
.main_container .sec:not(.sec_01, .sec_05) {padding-top: 120px;}
.main_container .heading_2.typo_j {text-align: center;}
.sec_02 .heading_2.typo_j {margin-bottom: 60px;}
.sec_02 .dp_flex > div {width: calc(50% - 16px);}
.sec_02 .dp_flex > div .s_tit {font-size: 1.625rem;}
.sec_02 .news_tab_box {position: relative;}
.sec_02 .news_tabs {position: absolute;left: 0;top: 5px; width: 100%;padding-left: 110px;}
.sec_02 .news_tabs .m_tit {font-size: 1.25rem;font-weight: 500;}
.sec_02 .news_tabs > li {display: inline-block;}
.sec_02 .news_tabs > li > .tab_link {position: relative;display: block;padding: 0 5px;}
.sec_02 .news_tabs > li > .tab_link::after {content: '';display: block;width: 0%;height: 8px;background: rgba(231, 109, 76, 0.2);position: absolute;bottom:3px;left: 0;transition: all 0.3s ease;}
.sec_02 .news_tabs > li > .tab_link.active {color: #e9554c;font-weight: 700;}
.sec_02 .news_tabs > li > .tab_link.active::after {width: 100%;}
.sec_02 .news_tabs > li > .tab_link:hover::after {width: 100%;}
.sec_02 .news_tabs .tab_cont {width: 100%;position: absolute;left: 0;top: 50px;display: none;}
.sec_02 .news_tabs > li > a.more {position: absolute;top: 2px;right: 0;display: none;}
.sec_02 .news_tabs > li:first-child > a.more, .sec_02 .news_tabs > li:first-child .tab_cont {display: block;}
.sec_02 .tab_cont li {width: 100%;}
.sec_02 .tab_cont li a {width: 100%;display: flex;justify-content: space-between;padding: 32px;border: 1px dashed #ddd;border-bottom: none; align-items: center;}
.sec_02 .tab_cont li:last-child a {border-bottom: 1px dashed #ddd;}
.sec_02 .tab_cont .bo_tit {font-size: 1.125rem;font-weight: 500;max-width: 80%;display: block; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;position: relative;padding-right: 23px;}
.sec_02 .tab_cont .new .bo_tit::after {content: 'N';display: block;width: 18px;height: 18px;border-radius: 3px;background: #ffdde2;color: #fc180f;font-size: 0.875rem;font-weight: bold;text-align: center;line-height: 18px;position: absolute;top: 2px;right: 0;}
.sec_02 .tab_cont .bo_date {font-size: 0.875rem;color: #343434;width: 20%;text-align: right;}
.sec_02 .promo_list_box {margin-top: 23px;}
.sec_02 .promo_list > li {width: calc(50% - 16px);}
.sec_02 .promo_list > li a {display: block;}
.sec_02 .promo_list .thum_box {width: 100%;height: 240px;border: 1px solid #ddd;border-radius: 10px;overflow: hidden;}
.sec_02 .promo_list .text_box {position: relative;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 30px 0 28px;margin-top: 35px;}
.sec_02 .promo_list .text_box .tag {padding: 7px 13px;border-radius: 20px;position: absolute;top: -15px;left: 0;font-size: 0.875rem;font-weight: 500;}
.sec_02 .promo_list .text_box .tag.tag_1 {color: #fb672b;background: #ffefe9;}
.sec_02 .promo_list .text_box .tag.tag_2 {color: #359020;background: #dff2de;}
.sec_02 .promo_list .text_box .tit {font-size: 1.125rem;font-weight: 500;width: 95%;text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 25px;height: 50px;}
.sec_02 .promo_list .text_box .date {margin-top: 30px;}

/* 프로그램 */
.sec_03 .bg_box {background: url(../img/main_pg_bgl.png) no-repeat left -40px bottom -40px, url(../img/main_pg_bgr.png) no-repeat right -32px top -67px #fffbf5;padding: 80px 0 10px;}

.pg_tab_box{position:relative;min-height:580px;}
.pg_tabs {position:absolute;right:0;top:50px;width:100%;text-align:center;}
.pg_tabs::before {content: '';display: block;width: 454px;height: 64px;background-color: #fff;position: absolute;top: -5px;left: 50%;transform: translateX(-50%);border-radius: 30px;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);}
.pg_tabs > li{display:inline-block;}
.pg_tabs > li > a.tab_link{position:relative;display:block;padding:15px 30px;font-size:1.25rem;font-weight:500;text-align:center;border-radius:30px;}
.pg_tabs > li > a.tab_link::before {content: '';display: block;width: 4px;height: 4px;border-radius: 50%;background: #d1d1d3;position: absolute;top: 23px;right: 0;}
.pg_tabs > li:last-child a.tab_link::before {display: none;}
.pg_tabs > li > a.tab_link.active {color:#fff;background:url(../img/main_tab_bg.jpg) no-repeat center / cover;}
.pg_tabs > li > a.tab_link.active::after {content: '';display: block;width: 10px;height: 9px;background: url(../img/main_tab_bg_a.png) no-repeat center;position: absolute;bottom: -9px;left: 50%;transform: translateX(-50%);}
.pg_tabs > li > a.tab_link.active::before {display: none;}
.pg_tabs .tab_cont{display:none;width:100%;position:absolute;left:0px;top:105px;text-align:left;}
.pg_tabs > li > a.more {display: none;}
.pg_tabs > li:first-child > a.more, .pg_tabs > li:first-child > .tab_cont{display:block}

/* 프로그램 슬라이드 */
.pg_tabs .pg_sd{width: 100%;padding: 0 63px;}
.pg_tabs .pg_sd .item{padding: 0 1rem;box-sizing: border-box;}
.pg_tabs .pg_sd .item a {display: block;}
.pg_tabs .pg_sd .item .thum_box {height: 268px;overflow: hidden;box-shadow: 0px 2px 13px 0px rgba(4, 0, 0, 0.15);border-radius: 20px 20px 0 20px;position: relative;}
.pg_tabs .pg_sd .item .thum_box .hover_link {position: absolute;top: 0;left: 0;width: 100%;height: 0;background: rgba(255, 157, 104, .9);transition: all 0.3s ease;}
.pg_tabs .pg_sd .item .thum_box .hover_mark {font-weight: 500;color: #fff;border: 2px solid #fff;padding: 7px 20px;border-radius: 20px;opacity: 0;transition: all 0.3s ease;position: absolute;top: 50%;left: 50%;transform: translate(-50% ,-50%);}
.pg_tabs .pg_sd .item a:hover .hover_link {height: 100%;}
.pg_tabs .pg_sd .item a:hover .hover_mark {opacity: 1;}
.pg_tabs .pg_sd .item .text_box {text-align: center;margin-top: 20px}
.pg_tabs .pg_sd .item .text_box .tag span {padding: 0 5px;color: #c73533;position: relative;}
.pg_tabs .pg_sd .item .text_box .tag span::after {content: '';display: block;width: 100%;height: 1px;background: #c73533;position: absolute;bottom: -1px;left: 0;}
.pg_tabs .pg_sd .item .text_box .tit {font-size: 1.125rem;font-weight: 500;width: 100%;padding: 0 10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: 10px;}
.pg_tabs .more {position: absolute;top: 80px;right: calc(63px + 1rem);font-size: 0.938rem;font-weight: 400;}

.pg_sd_wrap .slick-nav {position: relative;}
.pg_sd_wrap .slick-nav a{position:absolute;width: 44px;height: 44px; top:100px;background-color:#fff;border: 1px solid #ddd;border-radius:50%;display: block;z-index: 10;}
.pg_sd_wrap .slick-nav a.slick-prev{left: 1rem;background-position:15px 1px;}
.pg_sd_wrap .slick-nav a.slick-next{right: 1rem;background-position:-30px 1px;}


/* 운영안내 */
.sec_04 {position: relative;}
.sec_04::after {content: '';display: block;position: absolute;top: 120px;right: 0px;width: calc((100vw - 1408px) /2 + (1408px * 0.226));height: calc(100% - 120px);background: url(../img/main_direction_bg2.png) no-repeat 320px bottom #c73533;z-index: -1;transition: all 0.5s ease;}
.sec_04 .s_tit {font-size: 1.625rem;}
.sec_04 .box_l {width: 46%;}
.sec_04 .oper_info .s_tit {width: 40%; padding: 50px 50px 0 70px;position: relative;}
.sec_04 .oper_info .s_tit::after {content: '';display: block;width: 1px;height: 80%;background: #ddd;position: absolute;top: 50px;right: 25px;}
.sec_04 .oper_info .in_box {width: 60%;padding: 50px 50px 0 30px;}
.sec_04 .oper_info .call {width: 100%;font-weight: 700;font-size: 1.75rem;padding: 20px;background-color: #fffbf6;color: #c73533;}
.sec_04 .oper_info .info_list li {margin-top: 15px;}
.sec_04 .oper_info .info_list li .fb1 {min-width: 30%;}
.sec_04 .box_r {width: 54%;}
.sec_04 .loca_info {background: url(../img/main_direction_bg1.png) no-repeat right bottom #c73533;}
.sec_04 .loca_info .text_box {padding: 50px 0 50px 50px;width: 45%;}
.sec_04 .loca_info .s_tit {color: #fff;}
.sec_04 .loca_info .add {padding: 15px 45px;background: #890705;font-weight: 500;color: #fff;margin: 15px 0 20px;}
.sec_04 .loca_info .bus {color: #fff;}
.sec_04 .loca_info .bus .fb1 {margin-right: 15px;}
.sec_04 .loca_info .bus .f_s {line-height: 1.5;}
.sec_04 .loca_info .map_box {width: 55%;height: 100%;display: flex;align-items: center;justify-content: center;}

/* 협력업체 */
.sec_05 {background: #f7f7f7;padding-top: 0;margin-top: 120px;}
.sec_05 .related_site {padding: 30px 0;}
.sec_05 .related_site li {width: calc(20% - 16px);height:70px;border: 1px solid #ddd;border-radius: 10px;background: #fff;}
.sec_05 .related_site li a {display: block;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
