@charset "utf-8";

@media (max-width: 1440px){

	/* 기본 */
	.inner{width:100%;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}	
	#header.fixed{top:0}
	#gnb .dep2Wrap .dep2tit{padding-left:20px;}
	#gnb .gnb_r {right: 1.25rem;}
	#footer .inner .foot_top{padding-left:20px;}
	.loca_nav{right:24px;bottom:24px;}

	/* 센터소개*/
	.vision_wrap .box_02 .in_con span::before {height:9px;top: -6px;}
	.vision_wrap .box_02 .in_con span::after {height:9px;bottom: -6px;}
}

@media (max-width: 1280px){
	body,html{font-size:15px;
	  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
	  -ms-text-size-adjust : none;  /* IE */
	  -moz-text-size-adjust : none;  /* 파이어폭스 */
	  -o-text-size-adjust : none;  /* 오페라 구버전 */
	}

	/* 기본 */
	.logo_area h1 {padding-top: 5px;}
	#gnb,.tnb,.gnb_r{display:none;}
	#header #mMenu{display:block;}
	#header {height: 80px;}

	/*서브 */
	/* #sub{padding-top:80px;}
	#sub #snb .snb_lev1 > a > p{margin-right:8px;min-width:auto;}
	.sec_leftbox .tit_box{width:140px;}
	.sec_leftbox .con_box{width:calc(100% - 140px);} */

	/* 메인 */
	.sec_01 .box_r {padding:0 45px 0 70px;}
	.alim_sd_wrap .alim_sd {height:auto;}

	/* 센터소개 */
	.idm_intro .intro_wrap .left_box .img_box {left: 0;}

	/* 장비예약 */
	.rev_wrap .dp_flex {flex-wrap: wrap;}
	.rev_wrap .rev_cont {width: 100%;}
	.box_action {width: 100%;margin-top: 40px;}
	.box_action .rev_info {position: relative;width: 100%;}
	.rev_info .st_03 .time ul li {width: 20%;}
}

@media (max-width: 1024px){

	/* 메인 */
	.sec_01 .con_box {flex-wrap:wrap;}
	.sec_01 .box_l {width:50%;}
	.sec_01 .box_r {width:50%;padding:0 0 0 50px;}
	.sec_02 .promo_list .thum_box img {width:100%;height:100%;object-fit:cover;}
	.sec_04 .con_box {flex-wrap:wrap;}
	.sec_04 .box_l {width:100%;margin-bottom:40px;}
	.sec_04 .oper_info .s_tit {padding:50px;}
	.sec_04 .box_r {width:100%;}
	.sec_04 .oper_info .in_box {padding:50px 50px 50px 30px;}
	.sec_04::after {display:none;}
	.sec_05 .related_site li a img {transform:scale(0.8);}

	/* board */
	.bogal_list > ul{margin:0 -8px;}
	.bogal_list > ul > li{width:calc((100% - 64px) /3);margin:8px;}

	.site_map {padding:0 40px;}
	.site_map > li{width:calc((100% - 60px) / 3);margin:10px;}

	/* 센터소개 */
	.idm_intro .intro_wrap .inner {flex-wrap: wrap;}
	.idm_intro .intro_wrap .left_box {width: 100%;}
	.idm_intro .intro_wrap .left_box .img_box {position: relative;}
	.idm_intro .intro_wrap .left_box .attach {left: 0;}
	.idm_intro .intro_wrap:before {display: none;}
	.idm_intro .intro_wrap .right_box {width: 100%;margin-left: 0;padding-left: 0;margin-top: 50px;}
	.vision_wrap .box_03 .in_con > li {width: calc(25% - 8px);}
	.vision_wrap .box_03 .in_con > li .t_ico {padding: 20px;}

	/* 공간 리스트 */
	.bogal_list .sp_list.col2 > li {width:100%;}

}

@media (max-width: 960px){

}

@media (max-width: 820px){

	/* 서브기본 */
	.tb_wrap {width: 100%;overflow-x:scroll;margin-bottom:30px}  
	.tb_wrap .basic_tb {width:770px;}
	.tb_wrap .notice{display:block;padding:10px;background:#fff8f7;color:#f44336;border-radius:4px;margin-bottom:4px;} 
	.basic_tb thead th,.basic_tb tbody td, .basic_tb tbody th{padding:10px;}
	.manager_wrap .inner .fl{float:none;}
	.manager_wrap .inner .fr{margin-top:12px;padding-top:12px;float:none;border-top:1px solid rgba(0,0,0,.1);}
	.manager_wrap ul li{margin:4px 0;}

	/* board */
	.bogal_list > ul{margin:0 -8px;}
	.bogal_list > ul > li{width:calc((100% - 32px) /2);margin:8px;}
	.board_view .sd_wp{padding:30px 0 10px;background:#fafafa;}
	.board_view .view_sd {width:90%;}

	/*교육 뷰*/
	.pg_view .pg_t_con {flex-wrap: wrap;}
	.pg_view .pg_t_con .box_l {width: 100%;}
	.pg_tcont .l_box .no_img {min-height: 180px;}
	.pg_view .pg_t_con .box_r {width: 100%;padding: 0;margin-left: 0;margin-top: 20px;}

	/* 회원가입 */
	.register .clause_agree {width: 90%;}

	/* 마이페이지 */
	.my_info_wrap {flex-wrap: wrap;}
	.my_info_wrap .user_info {width: 100%;padding: 32px;margin-bottom: 20px;margin-right: 0;}
	.my_info_wrap .total_box {width: 100%;}

	/* 예약확인 */
	.myres_box .info_list > li {width: 100%;}


}

@media (max-width: 760px){
	/* 기본 */
	#footer .f_top .f_link li a{margin-bottom:8px;}
	#footer .inner .f_top{flex-wrap: wrap;}
	#footer .inner .f_top .f_qr{width:100%;margin-top:24px;padding-top:24px;border-top:1px solid rgba(255,255,255,.1);}

	/* 메인 */
	.sec_05 .con_box {overflow-x: scroll;}
	.sec_05 .related_site {width: 200%;}


	/* 서브 */
	.snb_dep3{overflow-x:auto;white-space:nowrap;display:block;}
	.snb_dep3 li{display:inline-block;}

	.speci_food .sec01 .img_list.f_col_4 li{width:calc((100% - 48px) /3);height:160px;}
	.reco_tour .top_box .trv_course_s{flex-wrap:wrap;}
	.reco_tour .top_box .trv_course_s li{width:calc((100% - 96px) /3);}
	.reco_tour .top_box,.trv_course_wp{padding:48px 24px;}

	/* 센터소개 */
	.vision_wrap .box_03 .in_con {flex-wrap: wrap;}
	.vision_wrap .box_03 .in_con > li {width: 48%;margin-bottom: 20px;}
	.pro_sum li {width: 100%;}

	/*교육신청*/
	.app_end .in_box {width: 100%;}

	/* 장비 뷰 */
	.eq_view_wrap .eq_view_top .in_box {flex-wrap: wrap;}
	.eq_view_wrap .eq_view_top .in_box > * {width: 100% !important;}
	.view_con .sd_wrap .item img {width: 100%;object-fit: cover;}
	.eq_view_wrap .eq_view_top {padding: 15px;}

	/* 공간 리스트 */
	.bogal_list .sp_list > li {flex-wrap: wrap;}
	.bogal_list > ul > li a {width: 100%;}
	.bogal_list .sp_list > li .img_box {width: 100%;}
	.bogal_list .sp_list > li .img_box  img {width: 100%;height: auto;object-fit: cover;}
	.bogal_list .sp_list > li .text_box {width: 100%;margin-left: 0;}
	.bogal_list .sp_list.col2 > li {width:100%;}

}


@media (max-width: 680px){

	/* 메인 */
	.sec_01 .box_l {width: 100%;}
	.sec_01 .box_r {width: 100%;}

	/* 서브기본 */	
	.tb_wrap .basic_tb {width:680px;}
	.tb_wrap .notice{display:block;padding:10px;background:#fff8f7;color:#f44336;border-radius:4px;margin-bottom:4px;} 
	.basic_tb thead th,.basic_tb tbody td, .basic_tb tbody th{padding:8px;}

	.manager_wrap .inner{padding:16px;}
	
	.sec_leftbox,.traffic .t_line_box ul {flex-wrap:wrap;}
	.sec_leftbox .tit_box,
	.sec_leftbox .con_box{width:100%;padding-left:0;}
	.sec_leftbox .tit_box .heading_3{margin-bottom:32px;}

	/* 게시판 */
	.bogal_list_wrap .btn_box{margin-top:20px;}
	.board_search{padding:20px;}
	.board_search .total{width:100%;height:20px;line-height:20px;display:block;margin-bottom:16px;}
	.board_search .search_input_wrap input,.board_search #searchQuery[type="text"]{width:100%;}
	.board_search select{width:100%;padding:0 10px; padding-right:20px;min-width:auto;margin-bottom:4px;}
	.board_search .search_input_wrap {display:block;width:100%;}
	.board_search .btn_search{width:40px;height:40px;top:0px;}
	.board_search .search_form{float:left;width:100%;}

	.bo_table tbody td, .bo_table tbody th{padding:12px 12px}
	.bo_table tbody td.date{word-break: break-all;}
	.ask_map_info .dp_flex,.tour_call .sec02 .con_box,.bo_view_wp .bo_view_top .in_box{flex-wrap:wrap;}
	.ask_map_info .dp_flex > *{width:100%;}

	.bogal_list > ul > li,.bo_view_wp .bo_view_top .in_box > *{width:100%;}
	
	.bogal_st2.bogal_list > ul > li .img_box{height:auto;}
	
	.bo_view_wp .bo_view_top{padding:24px;}
	.bo_view_wp .bo_view_top .in_box > *{margin:16px 0;}
	.bo_view_wp .view_sd .item, .one_pg .img_box .item{height:240px;}

	.bo_table{border-top:none;}
	.bo_table thead th{display:none;}
	.bo_table tbody tr{display:flex;flex-wrap:wrap;border:1px solid #ddd;border-radius:14px;text-align:left;padding:12px;margin-bottom:12px;align-items:center;}
	.bo_table tbody td{display:block;border:0;width:auto;padding:6px 4px;}
	.bo_table tbody td.cate,
	.bo_table tbody td.subject{width:100%;}
	.bo_table tbody td.subject{font-size:1rem;font-weight:700;}
	.bo_table .notice_tr{background:rgb(255, 253, 253);border:1px solid #e9554c;}
	.cate span{padding:6px 8px;font-size:.875rem;min-width:auto;}


	/*센터소개*/
	.idm_intro .intro_wrap {padding-bottom: 0;}

	/*오시는길*/
	.map_wrap .map_info_box {position: relative;left: 0;width: 90%;margin: 0 auto;margin-top: -100px;box-shadow: 6px 8px 12px 2px rgb(0, 0, 0, .1);}
	.map_info_box .in_box{padding:24px 0 24px;}
	.map_info_box .btn{width:100%;margin:0;margin-bottom:4px;}
	.root_daum_roughmap{height:400px;}

	/* 비밀번호확인 */
	.ck_mypg {width: 90%;}

	/* 동영상 강의 */
	.board_view_body .video_box {padding: 0;height: auto;width: 100%;}
}

@media (max-width: 560px){

	/*기본*/
	.heading_1{font-size:2.5rem;line-height:3.25rem;} /* 40px */
	.heading_2{font-size:2.25rem;line-height:2.925rem;}/* 36px */
	.heading_3{font-size:2rem;line-height:2.6rem;}/* 32px */
	.heading_4{font-size:1.75rem;line-height:2.275rem;}/* 28px */
	.heading_5{font-size:1.5rem;line-height:1.95rem;}/* 24px */

	.heading_6{font-size:1.25rem;line-height:1.75rem;}/* 20px */
	.subtitle_1{font-size:1.125rem;line-height:1.688rem;}/* 18px */
	.subtitle_2{font-size:1rem;line-height:1.5rem;}/* 18px */


	/* 메인 */
	.main_v_sd .text_box{padding:160px 1.25rem 0;}
	.vsual_wrap .slick-nav a.slick-prev, .vsual_wrap .slick-nav a.slick-next{display:none;}
	.main_v_sd .text_box .q_link {width:80%;display:flex;margin:40px auto 0;flex-wrap:wrap;}
	.main_v_sd .text_box .q_link li{width:calc((100% - 32px) / 2);margin:8px;}
	.main_v_sd .text_box .q_link li a{width:auto;}


	/*서브*/
	#snb > .inner  {padding-left: 0;padding-right: 0;}
	#snb .snb > ul > li:not(:first-child) {min-width: 150px;}
	#snb .snb_lev1 > a {padding: 0px 5px;}
	#snb .snb_unit a {margin-right: 20px;}

	/*센터소개*/
	.idm_intro .intro_wrap .left_box .img_box {width: 100%;height: auto;}
	.idm_intro .intro_wrap .left_box .img_box img {width: 100%;height: 100%;object-fit: cover;}
	.vision_wrap .box_03 .in_con > li {width: 100%;}

	/*비밀번호찾기*/
	.mbskin_box .login_form {width: 90%;}

	/* 공간리스트 */
	.noitce_box.sp_rev {flex-wrap: wrap;}

	/* 예약확인 */
	.myres_box .info_list > li {width: 100%;flex-wrap: wrap;}
	.myres_box .info_list > li .tit {width: 100%;margin-bottom: 10px;}
	.myres_box .info_list > li .cont {width: 100%;}

	/* 장비예약 */
	.time_ck_box ul li {width: calc(50% - 6px);}
	.time_ck_box ul li:nth-child(4n) {margin-right: 6px;}
	.rev_info .st_03 .time ul li {width:33%;}
	.resv_type_wrap .ret_tabs .type_select {top: 100px;}
	.cal_slect_area {padding: 24px 0;}

}


@media (max-width: 480px){

	.board_view .sd_wp .view_sd .item{height:240px;}
	.bogal_list > ul > li .img_box .in_box{height:230px;}

	/*교육신청*/
	.app_end .in_box {padding: 150px 16px 40px}

	/*비밀번호찾기*/
	.mbskin_box .login_form {padding: 40px 20px 40px;}

	/* 마이페이지 */
	.my_pg .sub_dep3 {overflow-x: scroll;}
	.my_pg .sub_dep3 ul {width: 200%;}
	
}

@media (max-width: 475px){
	#sub #snb .snb_unit a{display:none;}
	#sub #snb .snb_lev1 > a{padding:0 16px 0 8px;}
	.snb > ul > li > a p{margin-right:18px;}
}

@media (max-width: 425px){
	.sub_content .heading_6.mo_pab {padding-bottom:50px;}
	.food_notice {top:37px;left:0;width:100%;}

	/* 예약확인 */
	.myres_box .res_num {flex-wrap: wrap;}
	.myres_box .res_num > div {width: 100%;text-align: center;}

	/* 비밀번호확인 */
	.ck_mypg {padding: 40px 20px;}
	.ck_mypg .in_box li {flex-wrap: wrap;}
	.ck_mypg .in_box li > div:first-child {width: 100%;margin-bottom: 10px;}
	.ck_mypg .in_box li > div:last-child {width: 100%;}
	

	/* 장비예약 */
	.rev_info .st_02 .roundbox .label {position: relative;margin-bottom: 20px;}
	.rev_info .st_02 .roundbox .date {text-align: center;}
	.rev_info .st_03 .time ul li {width: 100%;margin-right: 0;}
	.rev_info .st_03 .time ul li::after {display: none;}
}

@media (max-width: 375px){
	/* 서브*/
	#snb{overflow-x: scroll;}
	#snb .inner {width: 130%;}

	/* 센터소개*/
	.vision_wrap .box_04 .in_con {flex-wrap: wrap;}
	.vision_wrap .box_04 .in_con li {width: 100%;padding: 10px;border-bottom: 1px dashed #ddd;}
	.vision_wrap .box_04 .in_con li::after {display: none;}
	.vision_wrap .box_04 .in_con li:last-child {border-bottom: none;}

	/* 마이페이지 */
	.my_info_wrap .user_info {padding: 5px;}
	

}

@media (max-width: 320px){
	/* 서브*/
	#snb{overflow-x: scroll;}
	#snb .inner {width: 130%;}

	/* 공간 리스트*/
	.floor_box .floor_tit a {min-width: 100%;}
}
	